//estilos para el móvil

@media(max-width:767px){

    // imagenes del portfolio
    .box-img{
        width: 100%;
        padding:0;
        //se quita el float:left;
        float: none;
    }
    .box-img + .box-img{
        //espacio entre las imagenes
        margin-top: 20px;
    }

    
}